[submodule "external/jszip"]
	path = external/jszip
	url = https://github.com/Stuk/jszip
[submodule "external/twgl"]
	path = external/twgl
	url = https://github.com/greggman/twgl.js.git
[submodule "external/utif"]
	path = external/utif
	url = https://github.com/photopea/UTIF.js.git
[submodule "external/pako"]
	path = external/pako
	url = https://github.com/nodeca/pako.git
